<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hello_world">
        <activity
            android:name=".DashBoard.ActiveEmployee.ActiveEmployee"
            android:exported="false" />
        <activity
            android:name=".DashBoard.HomePage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fab_leave"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DashBoard.Announcement"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DashBoard.UnderCapacity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DashBoard.leaves"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DashBoard.obtfiledtoday"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DashBoard.tardiness"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DashBoard.incident_report"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Off_Set"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".fab_obt"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".fab_overtime"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DashBoard.obtfiledtoday"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".info"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".adapter.dtertret"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DashBoard.ActiveEmployee.employee_details"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".announcementArrayList"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>